body {
    line-height: 1.1;
    margin: 0 auto
    }
p {
    text-indent: 1.15em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-align: left
    }
.fs11 {
    font-size: 1.1em
    }
.fs14 {
    font-size: 1.4em
    }
.illustration {
    margin-top: 1em;
    margin-bottom: 1em
    }
.illustration.pos-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
    }
.mb20 {
    margin-bottom: 2em
    }
.tac {
    text-align: center
    }
.tn p {
    text-indent: 0;
    text-align: left
    }
.tn {
    font-size: 0.9em;
    border: 1px solid silver;
    margin-top: 1.8em;
    margin-left: 8%;
    width: 80%;
    padding: 0.4em 2%;
    background-color: #DDE
    }
blockquote p {
    text-indent: 0
    }
h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1.2em;
    font-weight: bold;
    font-size: 1.4em
    }
h2 + p {
    text-indent: 0
    }
h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1.2em;
    font-weight: normal;
    font-size: 1.2em
    }
hr + p {
    text-indent: 0
    }