.carrossel-livros {
    margin: 2dvh 0px;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;

    height: 20dvh;
    width: 80%;
}

.carrossel-livros::-webkit-scrollbar {
    display: none;
}

.card-livro-destaque {
    flex: 0 0 10dvh;
}

.capa-livro {
    height: 20dvh;
    width: auto;
}

.carrossel-container{
    position: relative;
}

.capa-livro {
    height: 20dvh;
    width: auto;
}