#main {
    width: 100%;
} 

#img-autor {
    width: 100%;
}

.cabecalho-autor {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 10dvh 0px 0px 0px;
}

#capa-autor {
    height: 50dvh;
    width: auto;

    margin: 0px 0px 0px 10dvh;
}

#apresentacao-livros-autor{
    width: 40%;
}

#chamada-para-livros {
    margin: 6dvh 0px 0px 0px;
    font-size: 2.2dvh;
}

summary {
    color: var(--cl-paper);
}

@media (max-width: 768px){
    #apresentacao-livros-autor{
        width: 50%;
    }
    #capa-autor {
        height: 100%;
        width: 50%;

        margin: 0px 0px 0px 0dvh;
    }

    h1 {
        font-size: 4dvh;
    }

    #chamada-para-livros {
        margin: 2dvh 0px 0px 0px;
        font-size: 2dvh;
    }
}
