.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    height: 0;
    visibility: hidden;
    width: 0
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    line-height: 1.2
    }
.calibre4 {
    display: block
    }
.calibre5 {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.cl-cluster {
    display: block;
    line-height: 1.2;
    text-align: center;
    text-indent: 0%;
    margin: 3.2% auto 0%
    }
.cl-cluster1 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0%;
    margin: 3.2% 0 1em 0%
    }
.cl-cluster10 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 0%;
    margin: 2.1% 0 1em 0%
    }
.cl-cluster11 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 0%;
    margin: 5.1% 0 1em 0%
    }
.cl-cluster12 {
    display: block;
    line-height: 127.9%;
    text-align: center;
    text-indent: 0%;
    margin: 5.3% auto 1em
    }
.cl-cluster13 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0%;
    margin: 1.3% 0 1em 4.3%
    }
.cl-cluster14 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 0%;
    margin: 2.5% 0 1em 0%
    }
.cl-cluster15 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 6.1%;
    margin: 2.1% 0 1em 0%
    }
.cl-cluster16 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 4.4%;
    margin: 9.1% 0 1em 0%
    }
.cl-cluster17 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 4.4%;
    margin: 9.1% 0 1em 0%
    }
.cl-cluster18 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 0%;
    margin: 6.3% 0 1em 0%
    }
.cl-cluster19 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 4.4%;
    margin: 3.2% 0 1em 0%
    }
.cl-cluster2 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0%;
    margin: 0.8% 0 1em 0%
    }
.cl-cluster3 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 0%;
    margin: 0.8% 0 1em 0%
    }
.cl-cluster4 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 0%;
    margin: 1.1% 0 1em 0%
    }
.cl-cluster5 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 4.5%;
    margin: 2.8% 0% 0%
    }
.cl-cluster6 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 4.4%;
    margin: 2.1% 0 1em 0%
    }
.cl-cluster7 {
    display: block;
    line-height: 1.2;
    text-align: left;
    text-indent: 4.4%;
    margin: 2.1% 0 1em 0%
    }
.cl-cluster8 {
    display: block;
    line-height: 125%;
    text-align: justify;
    text-indent: 0%;
    margin: 1em 0 1em 0%
    }
.cl-cluster9 {
    display: block;
    line-height: 125%;
    text-align: center;
    text-indent: 0%;
    margin: 5.2% auto 0%
    }
.cl-f-c-v {
    display: block;
    line-height: 125%;
    text-align: center;
    text-indent: 0%;
    margin: 1em auto
    }
.cl-f-l-v {
    display: block;
    line-height: 125%;
    text-align: left;
    text-indent: 0%;
    margin: 1em 0 1em 0%
    }
.cl-f-l-v1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.graphic {
    display: block;
    text-align: center;
    margin: 2.3% auto
    }
