.calibre {
    display: block;
    font-family: "bembo std";
    font-size: 0.83333em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    font-size: 1.55em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre4 {
    line-height: 1.2
    }
.calibre5 {
    height: 657px;
    width: 500px
    }
.calibre6 {
    font-style: italic;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre9 {
    display: table-row;
    vertical-align: middle
    }
.cred {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0
    }
.cred-1-italico {
    color: inherit;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.cred-1-just {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0
    }
.cred-1-versalete {
    color: inherit;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.cred1 {
    border-bottom: inherit solid 2px;
    border-top: 0;
    color: inherit;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    widows: 2;
    margin: 0
    }
.cred2 {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0 0 0 3.5em
    }
.cred3 {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0 0 0 45%
    }
.ficha {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 1.5em;
    border: inherit solid 1px;
    padding: 0 1em
    }
.ficha1 {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    widows: 2;
    margin: 0
    }
.im-int {
    height: 100%;
    text-align: center;
    width: auto
    }
.imagem {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    widows: 2;
    margin: 0
    }
.miolo-dif {
    color: inherit;
    font-family: "Optima LT Std";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.miolo-dif1 {
    color: inherit;
    font-family: "Minion Pro";
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.parte {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-family: "Adobe Jenson Pro";
    font-size: 1.55em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0
    }
.parte-1-versalete {
    color: inherit;
    font-family: "Adobe Jenson Pro";
    font-size: 0.64516em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.parte-2-versalete {
    color: inherit;
    font-family: "Adobe Jenson Pro";
    font-size: 0.58065em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.rodape-superescrito {
    color: inherit;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top
    }
.rodape-titulo {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0
    }
.rodape-titulo1 {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0
    }
.rosto {
    border-bottom: 0;
    border-top: 0;
    display: block;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    widows: 2;
    margin: 0
    }
.sub-1-cinza-esp-abaixo {
    border-bottom: 0;
    border-top: 0;
    color: #666;
    display: block;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0
    }
.sub-1-cinza-italico {
    color: #666;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.sub-1-cinza-versalete {
    color: #666;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.sub-1-cinza-versalete-italico {
    color: #666;
    font-size: 0.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.sub-2-esp-acima {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-family: "Adobe Jenson Pro";
    font-size: 0.9em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0
    }
.sub-2-maior {
    color: inherit;
    font-family: "Adobe Jenson Pro";
    font-size: 1.33333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.sub-2-maior1 {
    color: inherit;
    font-family: "Adobe Jenson Pro";
    font-size: 1.29032em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.suma {
    border-bottom: 0;
    border-top: 0;
    color: inherit;
    display: block;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0
    }
.suma-titulo {
    border-bottom: 0;
    border-top: 0;
    color: #666;
    display: block;
    font-size: 1.55em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0
    }
.suma-titulo-versalete {
    color: #666;
    font-size: 0.58065em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.superescrito {
    color: inherit;
    font-size: 0.625em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    vertical-align: text-top
    }
.tab-1-garg {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    padding: 1px
    }
.tab-1-garg-1i {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    width: 10%;
    padding: 1px
    }
.tab-1-garg1 {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    vertical-align: inherit;
    padding: 1px 0.3em 1px 1px
    }
.tab-1-garg2 {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    vertical-align: inherit;
    padding: 1px 0.3em 1px 2em
    }
.tab-1-garg3 {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    vertical-align: inherit;
    padding: 1px 0.3em 1px 2em
    }
.tab-1-texto {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    width: 10%;
    padding: 1px
    }
.tab-1-texto-1-fracao {
    color: inherit;
    font-family: "Frutiger LT Std";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top
    }
.tab-1-texto-1-fracao1 {
    color: inherit;
    font-family: "Frutiger LT Std";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    vertical-align: bottom
    }
.tab-1-texto-1b {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    padding: 1px 1px 1px 0.2em
    }
.tab-1-texto-1be {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    padding: 0.2em 1px 1px
    }
.tab-1-texto-1e {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    width: 10%;
    padding: 0.2em 1px 1px
    }
.tab-1-texto-1f {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    width: 10%;
    border-top: inherit solid 2px;
    border-bottom: inherit solid 2px;
    padding: 0.4em 1px 0.2em
    }
.tab-1-texto-1fb {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    border-top: inherit solid 2px;
    border-bottom: inherit solid 2px;
    padding: 0.4em 1px 0.2em
    }
.tab-2-garg {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    vertical-align: inherit;
    padding: 1px
    }
.tab-2-texto-1b {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    width: 10%;
    border-top: inherit solid 2px;
    border-bottom: inherit solid 2px;
    padding: 0.5em 1px 0.2em
    }
.tab-2-texto-1bc {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    border-top: inherit solid 2px;
    border-bottom: inherit solid 2px;
    padding: 0.5em 1px 0.2em
    }
.tab-2-texto-1ce {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    padding: 1px 1px 0.2em
    }
.tab-2-texto-1e {
    color: inherit;
    display: table-cell;
    font-family: "Frutiger LT Std";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    vertical-align: inherit;
    width: 10%;
    padding: 1px 1px 0.2em
    }
.titulo-1-cinza-esp-abaixo {
    border-bottom: 0;
    border-top: 0;
    color: #666;
    display: block;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    orphans: 2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em;
    widows: 2;
    margin: 0
    }
.pcalibre1:visited {
    color: inherit;
    text-decoration: none
    }
.pcalibre2:link {
    color: inherit;
    text-decoration: none
    }
.pcalibre:hover {
    color: inherit;
    text-decoration: none
    }
.pcalibre3:active {
    color: inherit;
    text-decoration: none
    }
